body, html {
  overflow: hidden;

}

*{
    background-color: #3966ae;
}
#parentDiv{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#section2{
    margin-right: 0;
    padding-right: 0;
}


