<app-top-menu></app-top-menu>
<div id="parentDiv" appScrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" class="row">

    <app-sidebar [currentSection]='currentSection'></app-sidebar>

    <div class="container-fluid">
        <div id="section1">
            <app-introduction></app-introduction>
        </div>
        <div id="section2">
            <app-slider></app-slider>
        </div>
        <div id="section3">
            <app-process></app-process>
        </div>
        <div id="section4">
            <app-portfolio></app-portfolio>
        </div>
        <div id="section5">
            <app-suggest></app-suggest>
        </div>
        <div id="section6">
            <app-team></app-team>
        </div>
        <div id="section7">
            <app-footer></app-footer>
        </div>

    </div>

</div>



