.container-fluid{
    background-color: #3966ae;
    padding-top: 250px;
    color:#ffffff;

}

.title{

    font-size: 36px;
    text-transform: capitalize;
    margin-bottom:30px;
}
.box>p{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.sectionOne .ImageBox img{
    height: 630px;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    object-fit: cover;
}
.sectionOne {
    padding-bottom: 60px;

}
.card-body{
    color: white;
    width: 100%;
    padding:20px 0;
}
.sectionTwo{
    margin: 160px 50px;
    color: white;
}
.cardBox img{
    border-radius: 3px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.cardBox a{
    text-decoration: none;
}
@media (min-width: 992px) {
    .ImageBox {
        padding: 0;
    }
}
@media (max-width: 992px) {
    .title{
        font-size: 28px;
    }
    .sectionOne .ImageBox img{
        height: 400px;
    }
    .box p{
        font-size: 14px;
        line-height: 1.1;
    }
    .container-fluid{
        padding-top: 100px;
    }
    .one {
        padding-bottom: 30px;
    }
    .two{
        padding-top:10px;

    }
}
@media (max-width: 767px) {
    .sectionOne .ImageBox img{
        height: 400px;
    }
    .box p{
        font-size: 14px;
        line-height: 1.1;
    }
    .container-fluid{
        padding-top: 50px;
    }
    .one {
        padding-bottom: 30px;
    }
    .two{
        padding-top:10px;

    }
}