<app-top-menu></app-top-menu>
<div class="container-fluid one">

    <div class="row sectionOne" *ngIf="singlPortfolio != undefined">
        <div class="col-11 offset-1">
            <div class="row">
        <div class="col-lg-6 box">
            <h5 class="title">{{singlPortfolio.title.en}}</h5>
            <p [innerHTML]="singlPortfolio.description.en"></p>
        </div>
        <div class="col-lg-6 ImageBox">
            <img [src]="imageUrl + singlPortfolio.image" alt="">
        </div>
    </div>
</div>
<div class="container-fluid two" *ngIf="arrPort != undefined">
    <div class="row">
        <div class="cardBox col-lg-3" *ngFor="let p of arrPort" (click)="onVisible()">
            <a routerLink="/portfolio/{{p.id}}">
                <img [src]='imageUrl + p.image' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{p.title.en}}</h5>
                    <div [innerHTML]="p.description.en"></div>
                </div>
            </a>
        </div>
    </div>
    </div>
    </div>
</div>
<app-footer></app-footer>
