<div class="d-flex">
  <div class="mr-auto p-2">
    <button class="btn btn-primary" routerLink="/admin/client/create" translate>Create Account</button>
  </div>
</div>


<br>
<table *ngIf="done" class="table table-dark table-hover table-striped">
  <thead class="thead-light">
  <tr>
    <th>id</th>
    <th translate>Name</th>
    <th translate>Email</th>
    <th translate>Nik Name</th>
    <th translate>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody *ngIf="clients.length > 0">
  <tr *ngFor="let client of clients ; let i = index" (click)="updateAccount(client)">

    <td>{{client.id}}</td>
    <td>{{client.firstName + ' ' + client.lastName}}</td>
    <td>{{client.email}}</td>
    <td>{{client.nikName}}</td>
    <td>{{client.status}}</td>

    <td>
    </td>
  </tr>
  </tbody>
</table>
