<app-top-menu></app-top-menu>
<div class="container-fluid one">
  <div class="row">
    <div class="col-lg-12 menu">
      <ul>
        <li><a href="">Activity</a></li>
        <li><a href="">Discover</a></li>
        <li><a href="">Job</a></li>
      </ul>
    </div>
  </div>
      <div class="row sectionOne" *ngIf="blog != undefined">
        <div class="col-lg-6 box">
          <h5>{{blog.title.en}}</h5>
          <p>{{blog.description.en}}</p>
          <p>{{blog.content.en}}</p>
        </div>
        <div class="col-lg-6 ImageBox">
          <img [src]="imageUrl+blog.banner" alt="">
        </div>
  </div>
</div>
<div class="container-fluid two" *ngIf="fourNews != undefined">
  <div class="row">
    <div class="cardBox col-lg-3" *ngFor="let new of fourNews" (click)="onVisible()">
      <a routerLink="/blog/{{new.id}}">
      <img [src]='imageUrl+ new.banner' class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{new.title.en}}</h5>
        <div [innerHTML]="new.description.en"></div>
          <p class="card-text">{{new.content.en}}</p>
      </div>
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>
