<div class="my-container topNav pr-sm-5">
    <div class="row" id="headerScroll">
        <div class="col-1 h-100 col-xs-2">
            <div class="logo-wrapper">
                <div id="logo">
                    <a routerLink=""><img src="./assets/images/logo.png" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-10 h-10 col-xs-9">
            <nav class="navbar navbar-expand-lg navbar-dark bg-none">
                <a class="navbar-brand" routerLink="">WEBI</a>
                <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <!--<span class="navbar-toggler-icon float-right d-none d-sm-block"></span>-->
                  <span><img src="./assets/images/blueMenuToggle.png" class="active blueToggle" alt=""></span>
                  <span><img src="./assets/images/menuToggle.png" alt="" class="whiteToggle"></span>

                  <!--<span class="navbar-toggler-icon float-right bg-danger d-sm-none"></span>-->
                </button>






              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav w-100 h-auto">
                    <li class="nav-item offset-lg-1 col-lg-2">
                        <a class="nav-link" id="about" href='#section5'>About </a>
<!--                        routerLink="/about" routerLinkActive="active"-->
                    </li>
                    <li class="nav-item col-lg-2">
                        <a class="nav-link" href="#section4">Portfolio</a>
<!--                        routerLink="/allPortfolios" routerLinkActive="active"-->
                    </li>
                    <li class="nav-item col-lg-2" >
                        <a class="nav-link" href="#section6">Team</a>
<!--                        routerLink="/blog" routerLinkActive="active"-->
                    </li>
                    <li class="nav-item col-lg-2">
                        <a class="nav-link" href="#section7">Contact</a>
<!--                        routerLink="" routerLinkActive="active"-->
                    </li>
                </ul>
              </div>
            </nav>

        </div>
    </div>
</div>





<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--<div class="container">-->
<!--<a class="navbar-brand" href="#">Navbar</a>-->
<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--<span class="navbar-toggler-icon"></span>-->
<!--</button>-->

<!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--<ul *ngIf="done" class="navbar-nav mr-auto">-->
<!--<li *ngFor="let menu of menuList" class="nav-item">-->
<!--<a class="nav-link" routerLink="{{ menu.url }}"-->
<!--routerLinkActive="active-link">{{ menu.title[language] | uppercase }}</a>-->
<!--</li>-->
<!--</ul>-->
<!--<ul  class="navbar-nav ">-->
<!--<li class="nav-item"><button class="nav-link" (click)="switchLanguage('en')">en</button></li>-->
<!--<li class="nav-item"><button class="nav-link" (click)="switchLanguage('ru')">ru</button></li>-->
<!--<li class="nav-item"><p class="nav-link" translate>language</p></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</nav>-->




