.my-container{
    background-color: #3966ae;
}
.navbar {
  height: 160px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: #3966ae;
}
@media(max-width: 360px){
    .navbar {
        height: 50px;
    }
    #logo img{
        width:20px;
        height: 24px;
    }
}
.logo-wrapper{
  position: relative;
  left: -72px;
  width: calc(72px - 12px + (100vw - 144px) / 12);
  height: calc(72px - 12px + (100vw - 144px) / 12);
  background: #3966be;
}
#logo {
  text-align: center;
  line-height: calc(72px - 12px + (100vw - 144px) / 12);;
}


.navbar-brand {
  color: white;
  font-size: 60px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}


.nav-item {
    cursor: pointer;
}

.nav-link {
  opacity: 0.61;
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff !important;
}

.active {
  opacity: 1;
  font-size: 13px;
  line-height: 2.4;
  color: #ffffff !important;
}



@media (max-width: 1100px) {
    .logo-wrapper{
        left:0;
        width: 100%;
        height: 100%;
    }
}


button{
    border-style: none;
}
@media(max-width: 360px){
    .logo-wrapper{
        background: none;
        left:0;
    }

    .navbar-brand {

        font-size: 20px;
        font-weight: 400;


    }
    .navbar-toggler-icon{
        width: 15px;
        height: 12px;
        color: white;
    }

}
