.topNav{
     position: fixed;
     z-index: 1000;
     width: 100%;

 }
.scroll-change-height{
    height: 100px;
}
.navbar{
    padding-top: unset !important;
    padding-bottom: unset !important;
}
.my-container {
    background-color: #3966ae;
}

.navbar {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background: none;
    position: relative;
    color: white;
    padding-left: 0;
}

#logo {
    text-align: center;
    line-height: calc(72px - 12px + (100vw - 144px) / 12);

}
#logo img{
    width: 50%;
    height: 50%;
    object-fit: contain;
}

#logo a {
    opacity: 1;
}

.navbar-brand {
    color: white;
    font-size: 60px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    opacity: 1;
}


li {
    cursor: pointer;
    display: inline-block;
    color: white;
}

a {
    opacity: 0.61;
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
}


.active {
    opacity: 1;
    font-size: 13px;
    line-height: 2.4;
    color: #ffffff !important;
}

button {
    border-style: none;

}

.logo-wrapper {
    position: relative;
    left: -72px;
    width: calc(72px - 12px + (100vw - 144px) / 12);
    height: calc(72px - 12px + (100vw - 144px) / 12);
    background: #3966be;
}


@media only screen and (max-width: 1201px){
    .topNav{
        height: 10%;
        padding: 0;
    }
    .navbar{
        height: auto;
        padding-left: 20px;
    }
    .navbar-brand{
        font-size: 50px;
    }

    .logo-wrapper {
        height: 120px;
        left: -5px;
        width: 100px;
        bottom: 30px;
        text-align: center;
        padding: 0;
    }
    #logo{
        margin:5px auto;
    }
    #logo img {
        width: 50%;
        height: 50%;
        padding-left: 10px;
    }
}



@media (max-width: 990px) {
    .topNav{
        height: 10%;
    }
    .navbar-expand-lg .navbar-collapse {
        /*display: none !important;*/
        /*flex-basis: auto;*/
        background-color: white;
        color: #3966ae !important;
        height: 302px;
        width: 186px;
        position: absolute;
        right: -40px;
        top: 0;
        z-index: 99;
    }


    .collapse li a {
        color: #3966be;
        font-weight: 400;
    }

    ul {
        position: relative;
        top: 90px;
        left: 0;
    }

    li {
        display: block;
    }

    .navbar {
        text-align: left;
        height: auto;
        margin-top: 10px;
    }
    .navbar-brand{
        font-size: 40px !important;
    }

    .logo-wrapper {
        height: 80px;
        left: -5px;
        text-align: center;
        padding: 0;
        background-color: transparent;
    }
    #logo{
        margin:15px auto;
    }
    #logo img {
        width: 50%;
        height: 50%;
        padding-left: 10px;
        padding-top: 10px;
    }
    .navbar-toggler {
        padding: 0;

    }
    .navbar-toggler-icon {
        width: 15px;
        height: 12px;

    }

    button {
        z-index: 105;
        outline-style: none;
    }
    .active {
        color: darkslateblue !important;

    }

    .blueToggle {
        float: right;
        position: absolute;
        right: 5px;
        z-index: 300;

    }
    .whiteToggle{
        z-index: 200;
        position: absolute;
        right: -15px;
    }
}
@media (max-width: 768px) {
    #logo {
        margin: 15px auto;
        padding-top: 5px;
    }


}


@media (max-width: 650px) {
    #logo{

        padding: 5px 10px 0 0;

    }

    #logo img {
        width: 50%;
        height: 50%;

    }
    .navbar{
        margin-left: 15px;
        height: 20%;
    }
    .navbar-brand{
        font-size: 35px !important;
    }

}
@media (max-width: 500px) {
    #logo{

        padding: 0;

    }


    #logo img {
        width: 50%;
        height: 50%;

    }
    .navbar{
        margin-left: 20px;
        height: 20%;
        margin-top: 10px;
    }
    .navbar-brand{
        font-size: 30px !important;
    }
    .blueToggle{
        bottom: -20px;
    }
    .whiteToggle{
        bottom: -20px;
    }

}
@media (max-width: 500px) {
    #logo {

        padding: 10px;

    }
}
