<div class="my-container">
    <!--=======================toggle animat================-->
    <nav class="menu">
        <header>Menu <span>×</span></header>
        <ol>
            <li class="menu-item"><a href="#0">Home</a></li>
            <li class="menu-item"><a href="#0">About</a></li>
            <li class="menu-item">
                <a href="#0">Widgets</a>
            </li>
            <li class="menu-item">
                <a href="#0">Juice</a>

            </li>
            <li class="menu-item"><a href="#0">Contact</a></li>
        </ol>
        <footer>
            <button aria-label="Toggle Menu">Toggle</button>
        </footer>
    </nav>

    <div class="portfolio row">
        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
            <h6>Some Examples</h6>
            <div class="line"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5 offset-lg-1 content">
            <h2 [innerHTML]="title"></h2>
        </div>
        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5">
            <p>{{text}}</p>
        </div>
    </div>


    <div *ngIf="done" class="project-wrapper">

        <div class="row top-line">
             <div class="col-12 col-sm-4 col-md-3 offset-md-1 one"><a routerLink="/portfolio/{{arrId[0]}}"><img [src]="imageUrl + arr[0]" alt=""></a></div>
            <div class="col-12 col-sm-4 col-md-3  two"><a routerLink="/portfolio/{{arrId[1]}}"><img [src]="imageUrl + arr[1]" alt=""></a></div>
            <div class="col-12 col-sm-4 col-md-4 three"><a routerLink="/portfolio/{{arrId[2]}}"><img [src]="imageUrl + arr[2]" alt=""></a></div>
        </div>

        <div class="row bottom-line">
            <div class="col-6 offset-1 five d-none d-sm-none d-md-block d-xl-block"><a routerLink="/portfolio/{{arrId[3]}}"><img [src]="imageUrl + arr[3]" alt=""></a></div>
            <div class="col-4 six d-sm-none d-none d-md-block d-xl-block"><a routerLink="/portfolio/{{arrId[4]}}"><img [src]="imageUrl + arr[4]" alt=""></a></div>
        </div>
<!--        <a routerLink="allPortfolios">-->
<!--        <div class="col-12 bottomBtn">-->
<!--            <button class="btn btn-link">More works</button>-->
<!--        </div>-->
<!--        </a>-->

    </div>
</div>



