<div class="my-container">

    <div class="portfolio row">
        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-11 offset-lg-1">
            <h6>Some Examples</h6>
            <div class="line"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5 offset-lg-1 content">
            <h2 [innerHTML]="title"></h2>
        </div>
        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5">
            <p>{{text}}</p>
        </div>
    </div>


    <div *ngIf="done" class="project-wrapper">

        <div class="row top-line">
            <div class="col-12 col-sm-4 col-md-3 offset-md-1 one"><img [src]="imageUrl + arr[0]" alt=""></div>
            <div class="col-12 col-sm-4 col-md-3  two"><img [src]="imageUrl + arr[1]" alt=""></div>
            <div class="col-12 col-sm-4 col-md-4 three"><img [src]="imageUrl + arr[2]" alt=""></div>
        </div>

        <div class="row bottom-line">
            <div class="col-6 offset-1 five d-none d-sm-none d-md-block d-xl-block"><img [src]="imageUrl + arr[3]" alt=""></div>
            <div class="col-4 six d-sm-none d-none d-md-block d-xl-block"><img [src]="imageUrl + arr[4]" alt=""></div>
        </div>
        <a routerLink="allPortfolios">
        <div class="col-12 bottomBtn">
            <button class="btn btn-link">More works</button>
        </div>
        </a>

    </div>
</div>



