.portfolio {
    padding-top: 100px;
    color: #ffffff;
    padding-bottom: 90px;
}

.portfolio h6 a {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.78;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
}

.portfolio .text {
    position: relative;
    top: 55%;
    transform: translateY(-50%);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 60px;
}

.project-wrapper {
    padding-bottom: 50px;
}

h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 1.17;
}

.lineTitle {
    width: 80px;
    border: 1px solid #ffffff;
    margin: 20px 0;
}

.title {
    margin-bottom: 40px;
}

.subTitle {
    opacity: 0.78;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.35;
    margin-bottom: 1rem;
}

.bottomBtn {
    text-align: center;
}

.btn {
    width: 300px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 80px;
    border: 1px solid white;
    text-align: center;
    color: white;

}

img {
    width: 100%;
    height: 100%;
}

.bottom-line, .top-line {
    padding: 12px 0;
}


.project-wrapper img {
    object-fit: cover;
}

.hover {
    width: 20%;
    height: 20%;
    background: #3966be;
    opacity: 0;
    position: absolute;
    top: 0;
    color: white;
    text-align: center;
    margin: 0 auto;
    transition: width 0.5s, height 0.8s;

}

.textHover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.textHover p {
    font-size: 0.5em;
     transition: font-size 1s;
     -webkit-animation-name: w;
    -webkit-animation-duration: 2s;
}
@-webkit-keyframes w {
    0% {
        opacity:0;
    }
    25% {
        opacity:0.3;
    }
    50% {
        opacity:0.5;
    }
    75% {
        opacity:0.7;
    }
    100% {
        opacity:1;
    }
}
.textHover a {
    font-weight: bold;
    color: white;

}

.addHover:hover .hover {
    width: 100%;
    height: 100%;
    opacity: 0.8;

}


.addHover:hover p {
    font-size: 1em;

}

@media (max-width: 1700px) {
    .content h2 {
        font-size: 48px;
        line-height: 1.11;
        text-align: left;
        font-weight: 400;
    }
}

@media (max-width: 768px) {
    .portfolio {
        height: 100%;
        /*padding-bottom: 0;*/
        /*margin-top: 180px;*/
    }

    img {
        width: 100%;
    }

    .portfolio h6 {
        font-size: 14px;
        line-height: 1.5;
    }

    .content h2 {
        font-size: 36px;
        line-height: 1.11;
        text-align: left;
        font-weight: 400;
    }

    .portfolio p {
        opacity: 0.73;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: -0.2px;
        text-align: left;
    }

    .project-wrapper {
        margin-top: 30px;
    }

    .one, .two, .three {
        margin-bottom: 13px;
    }
}

@media (max-width: 450px) {
    .portfolio {
        /*padding-top: 300px;*/
        /*margin-top: 250px;*/

    }
}

/*@media (max-width: 380px) {*/
/*    .portfolio {*/
/*        margin-top: 330px;*/
/*        padding-top: 350px;*/
/*    }*/
/*}*/

@media (max-width: 300px) {
    /*.portfolio {*/
    /*    margin-top: 350px;*/
    /*    padding-top: 350px;*/
    /*}*/
}


