<div class="my-container process">


    <div class="row h-100">

        <div class="col-12 col-sm-12 col-md-11 offset-md-1 col-lg-5 offset-lg-1">
                <div class="heading">
                <p>Process</p>
                <div class="lineTitle"></div>
                <h2 class="title" [innerHTML]="title"></h2>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-11 col-lg-6 ml-md-100 p-0 row h-auto">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 p-md-2 h-100 one">
                <div class="one-content">
                    <p class="number">01</p>
                    <div class="line"></div>
                    <h6>Best Practices & Security You Can Count On</h6>
                    <ul class="text">
                        <li>WEBI leverages over 150 years of collective coding experience and technical ingenuity</li>
                        <br>
                        <li>Our project management approach utilizes the Agile Methodology, a best practice to ensure effective and timely delivery on the customer’s requirements</li>
                        <br>
                        <li>Technical team members include custom web/web app developers, mobile app developers and systems integration specialists</li>
<!--                        <li>We pride ourselves in developing clever solutions that are not only cost-effective but also highly secure and reliable</li>-->
                    </ul>
                </div>
            </div>


            <div class="col-12 col-lg-6 col-sm-12 col-md-4 p-md-2 h-100 two">
                <div class="two-content">
                    <p class="number">02</p>
                    <div class="line"></div>
                    <h6>We Make the Most of the Best Resources</h6>
                    <ul class="text">
                        <li>We unite a diversity of talent from different regions to minimize costs and maximize the value we bring you</li>
                        <br>
                        <li>With a distributed team structure and global partnerships, we deliver premier level technology and marketing capabilities, at highly competitive prices </li>
                        <br>
                        <li>It's taken time, but we've sourced the best talent, in the right places</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</div>
