
<div class="container">
  <div class="row">
    <div class="col-5">
      <p><a routerLink="allTeam">Our team</a></p>
      <div class="line"></div>
      <h1>Lorem ispus sit<br>a met dollar</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, deserunt earum illum laudantium velit veritatis voluptatum? Assumenda blanditiis dicta dolore incidunt maiores nihil officiis perferendis saepe sequi, sunt, veniam . Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, amet cum ducimus eaque error hic illum nisi nobis provident suscipit. Adipisci assumenda distinctio libero maiores modi nobis porro quaerat vel.</p>
    </div>
    <div class="col-3 one">
      <img src="./assets/images/Mask Group 9.png" alt="">
      <h6><b>EDUARD</b></h6>
      <h6>CEO</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit labore possimus praesentium quas repellendus voluptates voluptatum. Accusantium consequuntur culpa deserunt, dolorem dolores earum eveniet molestiae numquam, saepe sunt tenetur!</p>
      <a><img src="./assets/images/right-filled.png" alt=""></a>
    </div>
    <div class="col-3 two">
      <img src="./assets/images/Mask Group 8.png" alt="">
      <h6><b>FARAZ</b></h6>
      <h6>CTO</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit labore possimus praesentium quas repellendus voluptates voluptatum. Accusantium consequuntur culpa deserunt, dolorem dolores earum eveniet molestiae numquam, saepe sunt tenetur!</p>
    </div>
  </div>
  <div class="row second">
    <div class="col align-self-end"></div>
    <a><img src="./assets/images/right-filled.png" alt="" class="secongImage"></a>
    <a><img src="./assets/images/right-filled.png" alt=""></a>
  </div>
</div>

