.team{
  height: auto;
  color:white;
  font-family: Arial;
  padding-left: 20px;
}
.teamMain{
  padding-top: 115px;
}

.col-5  button{
  color:white;
  border: none;
  border: 0;
  background: none;
  outline-style: none;
}
.line{
  width: 100px;
  border: 1px solid lightgrey;
  margin: 20px 0;
}
.one{
  height: 676px;
  background-color:#1c488e;
}
h6{
  text-align: center;
}
.one img, .two img{
  width: 160px;
  height: 160px;
  margin:30px 50px;
}
.col-3 p{
  margin: 10px;
}
.one a img{
  width: 32px;
  height: 16px;
  float: right;
}

.image{
 text-align: center;

}
.second{
  height: 20%;
  text-align: right;
  padding: 50px;
  position: relative;
}
/*.second a img{*/
  /*width: 32px;*/
  /*height: 16px;*/
  /*margin: 20px;*/
/*}*/
/*.secondImage{*/
  /*transform: rotateY(180deg);*/
/*}*/
.second button{
  box-sizing: border-box;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: #5582CA;
  text-align: center;
  padding-left: 3px;
  padding-top: 3px;
  border:0;
  outline: none;
  position: absolute;
  right: 50px;
  bottom: 20px;
}
.second button:hover{
  border:0;
  background-color: #1c488e;
}
.second button:active{
  border:1px solid blue;
}
.second button img{
  width: 40px;
}
