
<div class="row">
  <div class="col-md-10 offset-1" *ngIf="done">
    <h2 class="text-center">{{language.value}}</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>Value</th>
        <th>Slug</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{language.value}}</td>
        <td>{{language.slug}}</td>
        <td>{{language.status}}</td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="ok()"><i
      class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-info" (click)="updateLanguage(language)" style="margin-left: 20px;">Edit <i
      class="far fa-edit"></i></button>
  </div>
</div>

