<div class="row multySuggest">
  <div class="col-11 offset-1">
    <div class="row">
    <div class="col-6 firstBlock">
      <img src="./assets/images/portfollio4.PNG" alt="">
    </div>
    <div class="col-6 secondBlock">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores assumenda aut, consectetur, culpa dignissimos exercitationem facilis ipsum itaque laborum laudantium molestiae molestias necessitatibus nihil non nostrum placeat provident, quae quidem quisquam rerum temporibus tenetur velit voluptatibus! Asperiores cupiditate dolor doloremque ea, et fugiat illo illum incidunt ipsa ipsum iste molestias non numquam obcaecati perferendis placeat, reiciendis repellendus voluptate.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dicta facere fugiat impedit iste minima natus, nobis nulla possimus qui quis vel veniam voluptates!</p>
      <button class="btn btn-secondary"><img src="./assets/images/Group 1620.png" alt="" width="25px" height="15px"></button>
    </div>
    </div>
  </div>
</div>
