<div class="container">
  <div class="row">
    <div class="col-5">
      <p>Process</p>
      <div class="line"></div>
      <h1>Почему<br> выбирают  нас</h1>
    </div>
    <div class="col-3 one">
      <p>01</p>
      <div class="line"></div>
      <h6>Поизводсво<br> полного цикла</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit labore possimus praesentium quas repellendus voluptates voluptatum. Accusantium consequuntur culpa deserunt, dolorem dolores earum eveniet molestiae numquam, saepe sunt tenetur!</p>
    </div>
    <div class="col-3 two">
      <p>02</p>
      <div class="line"></div>
      <h6>Поизводсво<br> полного цикла</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus impedit labore possimus praesentium quas repellendus voluptates voluptatum. Accusantium consequuntur culpa deserunt, dolorem dolores earum eveniet molestiae numquam, saepe sunt tenetur!</p>
    </div>
  </div>
</div>
