<div class="container-fluid section-2-header">
    <div class="row">
        <div class="col-12 section-2-heading heading">
            <h2></h2>
        </div>
    </div>
</div>

<div class="container cards-body-wrapper">
    <div class="row">

        <div class="col-md-4 col-12">
            <div class="col-12 card">
                <div class="card-heading">
                    <h3>BASIC</h3>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Full service Shopify/Magento website design, setup and launch</p>
                        <p>4 static pages</p>
                        <p>3 days for maintenance after launch</p>
                        <p>2 weeks for development</p>
                        <p>Good for stores with up to 25 products</p>
                        <p>20 hours for theme customization</p>
                        <p>Customized banded checkout</p>
                    </div>

                    <div class="card-button">
                        <button class="btn btn-primary">Starts from</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="col-12 card">
                <div class="card-heading">
                    <h3>ADVANCED</h3>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Full service Shopify/Magento website design, setup and launch</p>
                        <p>4 static pages</p>
                        <p>3 days for maintenance after launch</p>
                        <p>2 weeks for development</p>
                        <p>Good for stores with up to 25 products</p>
                        <p>20 hours for theme customization</p>
                        <p>Customized banded checkout</p>
                    </div>

                    <div class="card-button">
                        <button class="btn btn-primary">Starts from</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="col-12 card">
                <div class="card-heading">
                    <h3>CUSTOM</h3>
                </div>
                <div class="card-body">

                    <div class="card-text">
                        <p>Full service Shopify/Magento website design, setup and launch</p>
                        <p>4 static pages</p>
                        <p>3 days for maintenance after launch</p>
                        <p>2 weeks for development</p>
                        <p>Good for stores with up to 25 products</p>
                        <p>20 hours for theme customization</p>
                        <p>Customized banded checkout</p>
                    </div>

                    <div class="card-button">
                        <button class="btn btn-primary">Starts from</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
