<div class="container-fluid">
    <div class="row cards-section">

        <div class="col-md-4 col-12 card-hover">
            <div class="col-12 card-body">
                <div class="card-image">
                    <img src="{{url1}}" alt="">
                </div>
                <div class="card-heading">
                    <h4>Dedicated team</h4>
                </div>
                <div class="card-text">
                    <p>WEBI uses an agile
                        methodology to
                        provide a
                        professional look to
                        your website</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-12 card-hover">
            <div class="col-12 card-body">
                <div class="card-image">
                    <img src="{{url1}}" alt="">
                </div>
                <div class="card-heading">
                    <h4>Cost-Effective Delivery</h4>
                </div>
                <div class="card-text">
                    <p>WEBI completes
                        your projects in the
                        shortest possible
                        time frame and at
                        competitive price</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 card-hover">
            <div class="col-12 card-body">
                <div class="card-image">
                    <img src="{{url1}}" alt="">
                </div>
                <div class="card-heading">
                    <h4>Complete Solution</h4>
                </div>
                <div class="card-text">
                    <p>In collaboration with our
                        partners, we don't just
                        deliver technology,
                        but rather solutions to
                        your problems</p>
                </div>
            </div>
        </div>

    </div>
</div>
