<div class="my-container introduction">
    <div class="col-10 offset-lg-1 col-md-10 offset-md-1">
        <div class="row">
            <div class="col-lg-6 p-0 content">
                <div class="title">
                    <h1>We build <br> you the </h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap into
                        electronic typesetting, remaining essentially unchanged.</p>
                    <button class="btn btn-secondary"><img src="./assets/images/right-filled.png" alt="" width="25px"
                                                           height="15px"></button>
                </div>
            </div>
            <div class="col-lg-6 circle d-none d-sm-block">
                <img src="./assets/images/Group 1616.png" alt="">
            </div>
        </div>
    </div>
</div>

