<div id="slider" class="container">
  <div class="row">
    <div class="col-11">
      <owl-carousel-o [options]="customOptions">

        <ng-template carouselSlide>
          <div class="one">
            <p>01</p>
            <h5>Web Development</h5>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias at aut blanditiis
              doloribus, ea ex incidunt ipsa labore,</p>
            <button><img src="./assets/images/right-black.png" alt=""></button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="two">
            <p>02</p>
            <h5>Mobil Development</h5>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias at aut blanditiis
              doloribus, ea ex incidunt ipsa labore,</p>
            <button><img src="./assets/images/right-filled.png" alt=""></button>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="three">
            <p>03</p>
            <h5>Agile Peocess</h5>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias at aut blanditiis
              doloribus, ea ex incidunt ipsa labore,</p>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="three">
            <p>04</p>
            <h5>Mobil Development</h5>
            <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias at aut blanditiis
              doloribus, ea ex incidunt ipsa labore,</p>
            <button><img src="./assets/images/right-filled.png" alt=""></button>
          </div>
        </ng-template>


      </owl-carousel-o>
    </div>


  </div>

</div>

