
.currant-image-wrapper img {
    width: 100%;
    height: calc((((100vw - 144px) / 12) * 6) * .66);
}

.currant-content {

    padding-right: 0;
}

.currant-content .cont {
    height: fit-content;
    position: relative;
    top: 50%;
    /*transform: translateY(-50%);*/
    padding-top: 20px;
    line-height: 1.5;
    color: #ffffff;

}


.about-text{

    font-size: 20px;
    line-height: 1.5;

}

.cont h3{
    margin-bottom: 30px;
}
.button-wrapper {
    text-align: right;
}

button {
    box-sizing: border-box;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    background-color: #5582CA;
    text-align: center;
    padding-left: 3px;
    padding-top: 3px;
    border: 0;
    outline: none;
}

button:hover {
    border: 0;
    background-color: #1c488e;
}

button:active {
    border: 1px solid blue;
}

button img {
    width: 40px;
}

.h-10 {
    height: 10%;
}

.h-90 {
    height: 90%;
}
@media (max-width: 1700px){
    .about-text{
        font-size: 18px;
    }


.currant-image-wrapper img{
    height: 100%;
    object-fit: cover;
}
}
@media (max-width: 768px){
    .about-text{
        font-size: 14px;
    }
    .cont h3{
        font-size: 24px;
    }
}
