<div class="my-container">
    <div class="row">
        <div class="col-5 offset-1 currant-image-wrapper">
            <img src="./assets/images/portfollio4.PNG" alt="">
        </div>

        <div class="col-6">
            <div class="col-11 row h-90 currant-content">
                <div class="cont">
                    <h3>Where We Are
                        Armenia HQ – Ready to Answer When & Where Needed</h3>
                    <p>Where We Are
                        Armenia HQ – Ready to Answer When & Where Needed

                        Our head office is located in Yerevan, Armenia with a branch developing in Kazan, Russia. The
                        unique
                        economic realities in the regions we’re located in enable us to develop highly talented
                        technical
                        teams in a cost-effective manner.

                        We’ve built a reputation on stepping in and helping solve customer headaches where others have
                        fallen short. Our support staff is always online and our experienced project managers will work
                        with
                        you to ensure that you receive adequate attention and help to meet your business objectives.

                    </p>
                </div>
            </div>
            <div class="col-12 h-10 button-wrapper">
                <button class="btn btn-link">
                    <img src="./assets/images/Group 1620.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
