<div class="my-container">
    <div class="row">
        <div class="col-5 offset-1 currant-image-wrapper">
            <img src="./assets/images/portfollio4.PNG" alt="">
        </div>

        <div class="col-6">
            <div class="col-11 row h-90 currant-content">

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores
                    assumenda aut,
                    consectetur, culpa dignissimos exercitationem facilis ipsum itaque laborum laudantium molestiae
                    molestias necessitatibus nihil non nostrum placeat provident, quae quidem quisquam rerum
                    temporibus tenetur velit voluptatibus! Asperiores cupiditate dolor doloremque ea, et fugiat illo
                    illum incidunt ipsa ipsum iste molestias non numquam obcaecati perferendis placeat, reiciendis
                    repellendus voluptate. <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dicta facere fugiat
                    impedit iste minima natus, nobis nulla possimus qui quis vel veniam voluptates!
                </p>

            </div>
            <div class="col-12 h-10 button-wrapper">
                <button class="btn btn-link">
                    <img src="./assets/images/Group 1620.png" alt="">
                </button>
            </div>
        </div>
    </div>
</div>
