<div class="my-container pr-0">
<div class="row suggest">
  <div class="col-lg-11 offset-1">
  <div class="row mainCol">
    <div class="col-lg-6 col-12">
      <p>What do we offer</p>
      <div class="line"></div>
      <h2>Lorem ipsum sit<br> amet dolar.</h2>
      <ol>
        <li>Web development</li>
        <li>Web application development</li>
        <li>Mobil application development</li>
        <li>UI/UX and Branding</li>
        <li>CMS development</li>
      </ol>
      <button class="btn btn-secondary"><img src="./assets/images/Group 1620.png" alt="" width="25px" height="15px"></button>
    </div>
    <div class="col-lg-6 col-12 imgBlock">
      <img src="./assets/images/Mask Group 7.png" alt="">
    </div>
  </div>
</div>
</div>
</div>
<app-multy-suggest></app-multy-suggest>
