.suggest {
    height: 100vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100px;
}

.component-heading p {
    opacity: 0.78;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.35;
    color: #ffffff;
}

.line {
    width: 100px;
    border: 1px solid lightgrey;
    margin: 20px 0;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: 600;
}

.service-item {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 2.08;
    color: #ffffff;
}


button {
    box-sizing: border-box;
    border-radius: 50%;
    width: 66px;
    height: 66px;
    background-color: #5582CA;
    text-align: center;
    padding-left: 3px;
    padding-top: 3px;
    border: 0;
    outline: none;
    position: absolute;
    right: 135px;
    bottom: 210px;
}

button:hover {
    border: 0;
    background-color: #1c488e;
}

button:active {
    border: 1px solid blue;
}

button img {
    width: 40px;
    height: 15px;
}

.image-wrapper img {
    width: 100%;
    height: 100vh;
    padding: 0;
}

.image-wrapper {
    height: 100vh;
    padding: 0;
    display: inline-block;
}
@media(max-width: 360px){
    button {
        right: 24px;
        bottom: 26px;
        width: 31px;
        height:31px;
    }
    button img {
        width: 20px;
        height: 10px;
    }
    .image-wrapper{
        display: none;
    }
    .component-heading p {

        font-size: 14px;
    }
    .line{
        width: 80px;

    }
    .component-title h2{

        font-size: 36px;
        font-weight: 600;
        line-height: 1.11;
    }
    .service-list{
        height: 332px;
        background-color: #1c488e ;
        padding: 30px 20px;
    }
    .service-item{

        font-size: 18px;
        font-weight: 600;
        line-height: 2.78;

    }
}
