<div class="my-container pr-0 suggest  h-auto">

    <div class="row h-auto m-0">

        <div class="col-12 col-sm-12 col-md-5 offset-md-1 p-0 offset-lg-1  col-lg-5 h-auto">
            <div class="title">
                <div class="component-heading">
                    <p class="subTitle">About Us</p>
                    <div class="line"></div>
                </div>

                <div class="component-title">
                    <h2 [innerHTML]="title"></h2>
                </div>
            </div>
            <div class="service-list">

                <div class="accordion" id="accordionExample">

                    <p class="about-text">
                        At WEBI, we not only aim to solve problems with clever software but also with an attitude of
                        responsibility and service to the customers and communities we engage with. As we build our
                        teams,
                        we
                        seek out technical experts guided by principles of honesty, perseverance and reliability. In an
                        expression of our commitment to positive social impact, our team members regularly volunteer and
                        serve
                        with both national and local non-profit organizations, in addition to founding our own
                        non-profit
                        social
                        empowerment projects.
                    </p>
                    <!--                    <div class="service-item">-->
                    <!--                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                    <!--                            01 Web development-->
                    <!--                        </button>-->
                    <!--                    </div>-->

                    <!--                    <div id="collapseOne" class="collapse show d-md-none" aria-labelledby="headingOne" data-parent="#accordionExample" >-->
                    <!--                        <div class="card-body">-->
                    <!--                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="service-item">-->
                    <!--                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
                    <!--                            02 Web application development-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <!--                    <div id="collapseTwo" class="collapse d-md-none" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
                    <!--                        <div class="card-body">-->
                    <!--                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <!--                    <div class="service-item">-->
                    <!--                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
                    <!--                            03 Mobil application development-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <!--                    <div id="collapseThree" class="collapse d-md-none" aria-labelledby="headingThree" data-parent="#accordionExample">-->
                    <!--                        <div class="card-body">-->
                    <!--                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="service-item">-->
                    <!--                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">-->
                    <!--                            04 UI/UX and Branding-->
                    <!--                        </button>-->
                    <!--                    </div>-->

                    <!--                    <div id="collapseFour" class="collapse d-md-none" aria-labelledby="headingFour" data-parent="#accordionExample">-->
                    <!--                        <div class="card-body">-->
                    <!--                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="service-item">-->
                    <!--                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">-->
                    <!--                            05 CMS development-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                    <!--                    <div id="collapseFive" class="collapse d-md-none" aria-labelledby="headingFive" data-parent="#accordionExample">-->
                    <!--                        <div class="card-body">-->
                    <!--                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>

                <!--<div class="service-item">01 Web development</div>-->
                <!--<div class="service-item">02 Web application development</div>-->
                <!--<div class="service-item">03 Mobil application development</div>-->
                <!--<div class="service-item">04 UI/UX and Branding</div>-->
                <!--<div class="service-item">05 CMS development</div>-->
            </div>
<!--            <div class="row mt-n5 mt-sm-n5 mb-lg-5 d-none d-sm-block">-->
<!--                <div class="col-12 col-md-12 col-lg-9">-->
<!--                    <button class="btn btn-link rightButton"><img src="./assets/images/Group 1620.png" alt=""></button>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="col-md-6 col-lg-6 image-wrapper h-auto">
            <img src="./assets/images/Mask Group 7.png" alt="">
        </div>

    </div>

</div>

<app-multy-suggest></app-multy-suggest>








