<div class="row">
  <div class="col-md-10 offset-1">
    <h2 class="text-center" translate>Create</h2>
    <form [formGroup]="languageForm">
      <br>
      <div class="form-group">
        <label translate>Value</label>
        <input type="text" placeholder="Value" class="form-control" formControlName="value">
        <p *ngIf="languageForm.get('value').invalid && languageForm.get('value').touched" class="invalid">Type true
          Value</p>
        <p *ngIf="res" class="invalid">{{res}}</p>
      </div>

      <div class="form-group">
        <label translate>Slug</label>
        <input type="text" placeholder="Slug" class="form-control" formControlName="slug">
        <p *ngIf="languageForm.get('slug').invalid && languageForm.get('slug').touched" class="invalid">Type true
          Slug</p>
        <p *ngIf="res" class="invalid">{{res}}</p>
      </div>

      <div class="form-group">
        <label translate>Status</label>
        <div class="radio">
          <label><input type="radio" formControlName="status" value="active" translate> Active</label>
        </div>
        <div class="radio">
          <label><input type="radio" formControlName="status" value="passive" translate>Passive</label>
        </div>
        <!--<p *ngIf="res"  class="invalid">{{res}}</p>-->
      </div>
      <!--<input type="radio" formControlName="status" value="lamb"> Active-->
      <!--<input type="radio" formControlName="status" value="fish"> PAssive-->

      <button type="button" class="btn btn-info" (click)="mySetting()" [disabled]="!languageForm.valid" translate>Create<i
        class="fa fa-check"></i></button>
    </form>
  </div>

</div>

