<div class="sidebar">

    <div class="line" [ngClass]=" (currentSection == 'section1' )? 'active' : 'line' " (click)="scrollTo('section1')"><a
            href="#"></a>
        <ng-container *ngIf="currentSection==='section1'"></ng-container>
    </div>

    <div class="line" [ngClass]=" (currentSection == 'section2' ) ? 'active' : 'line' " (click)="scrollTo('section2')">
        <a href="#"></a>
        <ng-container *ngIf="currentSection ==='section2'"></ng-container>
    </div>
    <div class="line" [ngClass]=" (currentSection == 'section3' ) ? 'active' : 'line' " (click)="scrollTo('section3')">
        <ng-container *ngIf="currentSection ==='section3'"></ng-container>
    </div>
    <div class="line" [ngClass]=" (currentSection == 'section4' ) ? 'active' : 'line' " (click)="scrollTo('section4')">
        <ng-container *ngIf="currentSection ==='section4'"></ng-container>
    </div>
    <div class="line" [ngClass]=" (currentSection == 'section5' ) ? 'active' : 'line' " (click)="scrollTo('section5')">
        <ng-container *ngIf="currentSection ==='section5'"></ng-container>
    </div>
    <div class="line" [ngClass]=" (currentSection == 'section6' ) ? 'active' : 'line' " (click)="scrollTo('section6')">
        <ng-container *ngIf="currentSection ==='section6'"></ng-container>
    </div>


</div>




