@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
h2 {
    margin: 42px auto;
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    line-height: 49px;
    color: #1D262C;
    letter-spacing: 0;
    text-align: center;
}

h3 {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 191px;
    height: 44px;
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 22px;
    color: #1D262C;
    letter-spacing: 0;
    text-align: center;
}

h4 {
    margin: 42px 0;
    font-family: Poppins-Regular;
    font-size: 24px;
    color: #171C34;
    letter-spacing: 0;
}

p {
    margin: auto;
    color: #71828A;
    line-height: 32px;
    font-family: Montserrat-Regular;
    letter-spacing: 0;
    font-size: 18px;
    text-align: center;
}

.header,
.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7,
.section-8,
.footer {
    left: 0;
    right: 0;
    margin: auto;
    height: auto;
}

.title,
.heading {
    margin: auto;
    text-align: center;
}

.container {
    margin: auto;
}

.body {
    width: auto;
    height: auto;
}

.btn-primary {
    font-family: Montserrat-SemiBold;
    color: #fff;
    width: 144px;
    height: 50px;
    border-radius: 2px;
    background-color: #3A66AF !important;
}

// // // HEADER // // //
.header {
    position: absolute;
    .header-info {
        height: 42px;
    }
    .header-title {
        position: relative;
        width: 100%;
        background-color: #3A66AF;
        height: 90px;
        span {
            position: relative;
            left: 252px;
            width: 114px;
            height: 66px;
            font-size: 66px;
            line-height: 90px; // 66px
            color: white;
        }
    }
}

// // // SECTION-1 // // //
.section-1 {
    position: absolute;
    top: 237px;
    .section-1-heading {
        h2 {
            max-width: 1056px;
            font-size: 49px; // // // 40 !!!
        }
    }
}

// // // SECTION-2 // // //
.section-2 {
    position: absolute;
    top: 1252px;
}

// // // SECTION-3 // // //
.section-3 {
    position: absolute;
    top: 2094px;
}

// // // SECTION-4 // // //
.section-4 {
    position: absolute;
    top: 3720px;
}

// // // SECTION-5 // // //
.section-5 {
    position: absolute;
    top: 4564px;
}

// // // SECTION-6 // // //
.section-6 {
    position: absolute;
    top: 4969px;
}

// // // SECTION-7 // // //
.section-7 {
    position: absolute;
    top: 6041px;
}

// // // SECTION-8 // // //
.section-8 {
    position: absolute;
    top: 6739px;
    .section-8-title {
        font-family: Montserrat-SemiBold;
        font-size: 24px;
        color: #1D262C;
        letter-spacing: 0;
        text-align: center;
        line-height: 32px;
    }
}

// // // FOOTER // // //
.footer {
    position: absolute;
    top: 7784px;
    background-color: #3A66AF;
    height: 59px;
    .footer-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        p {
            font-family: Montserrat-SemiBold;
            font-size: 18px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            line-height: 32px;
        }
    }
}
