<!-- Header -->

<div class="header nav justify-content-end">

    <li class="nav-item">
        <a class="nav-link header-info" href="webi.am">info@webi.am</a>
    </li>

    <li class="nav-item">
        <a class="nav-link header-info">+192988282882</a>
    </li>

    <div class="header-title">
        <span routerLink="/" [style.cursor]="'pointer'">WEBI</span>
    </div>

</div>

<div class="body">
    <!-- Section-1-start -->

    <div class="section-1">
        <div class="container-fluid">
            <div class="row section-1-heading heading">
                <div class="col-12">
                    <h2>Optimise your eCommerce with our Shopify Certified developers</h2>
                </div>
            </div>
            <div class="row section-1-title title">
                <div class="col-12">
                    <p>Our expertise is in setting up, customizing and developing your brand new or ongoing Shopify
                        eCommerce shop
                    </p>
                </div>
            </div>
        </div>

        <div class="container section-contact-box">
            <div class="row">
                <div class="col-6 section-1-contact-box-image">
                    <img [src]="imageUrl + 'undraw_businessman_97x4.svg'" alt="">
                </div>
                <div class="col-6">
                    <form [formGroup]="myForm" class="row" (ngSubmit)="sendData()">

                        <div class="col-12 contact-box-input">
                            <label for="name">NAME
                                <span class="error-span"
                                      *ngIf="myForm.controls.name.invalid &&
                                        myForm.controls.name.touched">required</span></label>
                            <div class="form-group">
                                <input formControlName="name" id="name" type="text" placeholder="+977 - (000) - 0000312"
                                       [ngClass]="myForm.controls.name.invalid &&
                                        myForm.controls.name.touched ? 'form-error form-control': 'form-control'">
                            </div>
                        </div>

                        <div class="col-12 contact-box-input">
                            <label for="email">EMAIL
                                <span class="error-span"
                                      *ngIf="myForm.controls.email.invalid &&
                                        myForm.controls.email.touched">required</span></label>
                            <div class="form-group">
                                <input formControlName="email" id="email" type="text" placeholder="ishan02016@gmail.com"
                                       [ngClass]="myForm.controls.email.invalid &&
                                        myForm.controls.email.touched ? 'form-error form-control': 'form-control'">
                            </div>
                        </div>

                        <div class="col-12 contact-box-input">
                            <label for="phone">PHONE
                                <span class="error-span"
                                      *ngIf="myForm.controls.phone.invalid &&
                                        myForm.controls.phone.touched">required</span></label>
                            <div class="form-group">
                                <input formControlName="phone" id="phone" type="text"
                                       placeholder="+977 - (000) - 0000312"
                                       [ngClass]="myForm.controls.phone.invalid &&
                                        myForm.controls.phone.touched ? 'form-error form-control': 'form-control'">
                            </div>
                        </div>

                        <div class="col-12 contact-box-input">
                            <label for="companyName">COMPANY NAME
                                <span class="error-span"
                                      *ngIf="myForm.controls.companyName.invalid &&
                                        myForm.controls.companyName.touched">required</span></label>
                            <div class="form-group">
                                <input formControlName="companyName" id="companyName" type="text"
                                       placeholder="Sanepa Height"
                                       [ngClass]="myForm.controls.companyName.invalid &&
                                        myForm.controls.companyName.touched ? 'form-error form-control': 'form-control'">
                            </div>
                        </div>

                        <div class="col-12 contact-box-button-seltion">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button [disabled]="myForm.invalid" class="btn btn-primary contact-box-button">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

    <!-- Section-1-ends -->

    <!-- Section-2-start -->

    <div class="section-2">


        <div class="container-fluid section-2-header">
            <div class="row">
                <div class="col-12 section-2-heading heading">
                    <h2>Our Services help eCommerce Merchants Grow</h2>
                </div>
            </div>
        </div>

        <div class="container section-custom-cards-body">
            <div class="row">

                <div class="col-4">
                    <div class="col-12 custom-card">
                        <div class="custom-card-heading heading">
                            <h3>Shopify custom landing page design</h3>
                        </div>
                        <div class="custom-card-body">
                            <div class="custom-card-title">
                                <p>Get unique and branded views of your eCommerce. What we do:</p>
                            </div>
                            <div class="custom-card-text">
                                <ul>
                                    <li>Mobile-first UX / UI design</li>
                                    <li>Theme design</li>
                                    <li>Brand collateral design</li>
                                    <li>Photography & illustrations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="col-12 custom-card">
                        <div class="custom-card-heading heading">
                            <h3>Shopify custom landing page design</h3>
                        </div>
                        <div class="custom-card-body">
                            <div class="custom-card-title">
                                <p>Get unique and branded views of your eCommerce. What we do:</p>
                            </div>
                            <div class="custom-card-text">
                                <ul>
                                    <li>Mobile-first UX / UI design</li>
                                    <li>Theme design</li>
                                    <li>Brand collateral design</li>
                                    <li>Photography & illustrations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="col-12 custom-card">
                        <div class="custom-card-heading heading">
                            <h3>Shopify custom landing page design</h3>
                        </div>
                        <div class="custom-card-body">
                            <div class="custom-card-title">
                                <p>Get unique and branded views of your eCommerce. What we do:</p>
                            </div>
                            <div class="custom-card-text">
                                <ul>
                                    <li>Mobile-first UX / UI design</li>
                                    <li>Theme design</li>
                                    <li>Brand collateral design</li>
                                    <li>Photography & illustrations</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    <!-- Section-2-ends -->

    <!-- Secion-3-starts -->

    <div class="section-3">
        <div class="container section-3-body">

            <div class="row section-3-heading heading">
                <div class="col-12">
                    <h2>Who is WEBI?</h2>
                </div>
            </div>
            <div class="row section-3-title title">
                <div class="col-12">
                    <p>We are Full-Stack eCommerce developers. Our head office is located in Yerevan, Armenia with a
                        branch
                        developing in
                        Kazan, Russia. The unique economic realities in the regions we’re located in enable us to
                        develop highly
                        talented
                        technical teams in a cost-effective manner.</p>
                </div>
                <div class="col-12">
                    <p>We’ve built a reputation on stepping in and helping solve customer headaches where others have
                        fallen short.
                        Our support
                        staff is always online and our experienced project managers will work with you to ensure that
                        you receive
                        adequate
                        attention and help to meet your business objectives.</p>
                </div>
            </div>

            <div class="row section-3-sub-heading heading">
                <div class="col-12">
                    <h2>Why WEBI</h2>
                </div>
            </div>
            <div class="row section-3-sub-title title">
                <div class="col-12">
                    <p>We successfully accompanied dozens of eCommerce business.
                        We don’t look at the budget or complexity, just we are here to help you.</p>
                </div>
            </div>


        </div>

        <div class="container-fluid">
            <div class="row section-3-cards">

                <div class="col-4 card-hover">
                    <div class="col-12 card-body">
                        <div class="card-image">
                            <img [src]="imageUrl + 'Breakfast.svg'" alt="">
                        </div>
                        <div class="card-heading">
                            <h4>Dedicated team</h4>
                        </div>
                        <div class="card-text">
                            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 card-hover">
                    <div class="col-12 card-body">
                        <div class="card-image">
                            <img [src]="imageUrl + 'Breakfast.svg'" alt="">
                        </div>
                        <div class="card-heading">
                            <h4>Cost-Effective Delivery</h4>
                        </div>
                        <div class="card-text">
                            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-4 card-hover">
                    <div class="col-12 card-body">
                        <div class="card-image">
                            <img [src]="imageUrl + 'Breakfast.svg'" alt="">
                        </div>
                        <div class="card-heading">
                            <h4>Complete Solution</h4>
                        </div>
                        <div class="card-text">
                            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Secion-3-ends -->

    <!-- Section-4-starts -->

    <div class="section-4">

        <div class="container-fluid section-4-header">
            <div class="row">
                <div class="col-12 section-4-heading heading">
                    <h2>Shopify development plans</h2>
                </div>
            </div>
        </div>

        <div class="container section-custom-cards-body">
            <div class="row">

                <div class="col-4">
                    <div class="col-12 custom-card">
                        <div class="custom-card-heading heading">
                            <h3>Shopify custom landing page design</h3>
                        </div>
                        <div class="custom-card-body">
                            <div class="custom-card-title">
                                <p>Get unique and branded views of your eCommerce. What we do:</p>
                            </div>
                            <div class="custom-card-text">
                                <ul>
                                    <li>Mobile-first UX / UI design</li>
                                    <li>Theme design</li>
                                    <li>Brand collateral design</li>
                                    <li>Photography & illustrations</li>
                                </ul>
                            </div>

                            <div class="custom-card-button">
                                <button class="btn btn-primary">Starts from</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="col-12 custom-card">
                        <div class="custom-card-heading heading">
                            <h3>Shopify custom landing page design</h3>
                        </div>
                        <div class="custom-card-body">
                            <div class="custom-card-title">
                                <p>Get unique and branded views of your eCommerce. What we do:</p>
                            </div>
                            <div class="custom-card-text">
                                <ul>
                                    <li>Mobile-first UX / UI design</li>
                                    <li>Theme design</li>
                                    <li>Brand collateral design</li>
                                    <li>Photography & illustrations</li>
                                </ul>
                            </div>

                            <div class="custom-card-button">
                                <button class="btn btn-primary">Starts from</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="col-12 custom-card">
                        <div class="custom-card-heading heading">
                            <h3>Shopify custom landing page design</h3>
                        </div>
                        <div class="custom-card-body">
                            <div class="custom-card-title">
                                <p>Get unique and branded views of your eCommerce. What we do:</p>
                            </div>
                            <div class="custom-card-text">
                                <ul>
                                    <li>Mobile-first UX / UI design</li>
                                    <li>Theme design</li>
                                    <li>Brand collateral design</li>
                                    <li>Photography & illustrations</li>
                                </ul>
                            </div>

                            <div class="custom-card-button">
                                <button class="btn btn-primary">Starts from</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Section-4-ends -->

    <!-- Section-5-starts -->

    <div class="section-5">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 section-5-heading">
                    <h2>Shopify Certified Partner</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 section-5-title title">
                    <p>We are officially certified for Shopify theme customization and App Development.
                        This empowers us to go forward as a complete full stack eCommerce team.
                        Let’s give a try!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 section-5-button">
                    <button class="btn btn-primary">CTA button</button>
                </div>
            </div>

        </div>


    </div>

    <!-- Section-5-ends -->

    <!-- Section-6-starts -->

    <div class="section-6">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 section-6-heading heading">
                    <h2>Some Examples</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-12 section-6-title title">
                    <p>The following are just a few samples of our work</p>
                </div>
            </div>
        </div>

        <div class="container section-6-slider">
            <div class="row">
                <div class="col-12 section-6-slider-images">
                </div>
            </div>
        </div>

    </div>

    <!-- Section-6-ends -->

    <!-- Section-7-starts -->

    <div class="section-7">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 section-7-heading heading">
                    <h2>Testimonials</h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row section-7-people">

                <div class="col-4">
                    <div class="col-12 people-body">
                        <div class="people-image">
                            <img [src]="imageUrl + 'people.jpg'" alt="">
                        </div>

                        <div class="people-text">
                            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                        </div>

                        <div class="people-name">
                            <p>Susan Herrera</p>
                        </div>

                    </div>
                </div>

                <div class="col-4 people-hover">
                    <div class="col-12 people-body">
                        <div class="people-image">
                            <img [src]="imageUrl + 'people.jpg'" alt="">
                        </div>

                        <div class="people-text">
                            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                        </div>

                        <div class="people-name">
                            <p>Susan Herrera</p>
                        </div>

                    </div>
                </div>
                <div class="col-4 people-hover">
                    <div class="col-12 people-body">
                        <div class="people-image">
                            <img [src]="imageUrl + 'people.jpg'" alt="">
                        </div>

                        <div class="people-text">
                            <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                                Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                        </div>

                        <div class="people-name">
                            <p>Susan Herrera</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Section-7-ends -->

    <!-- Section-8-starts -->

    <div class="section-8">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 section-8-heading">
                    <h2>Ready to get started?</h2>
                </div>
            </div>
        </div>

        <div class="container section-contact-box">
            <div class="row">
                <div class="col-6 section-8-contact-box-image">
                    <img [src]="imageUrl + 'undraw_businessman_97x4.svg'" alt="">
                </div>
                <div class="col-6">
                    <div class="row">

                        <div class="col-12 contact-box-input">
                            <label for="name">NAME</label>
                            <div class="form-group">
                                <input class="form-control" id="name" type="text" placeholder="+977 - (000) - 0000312">
                            </div>
                        </div>

                        <div class="col-12 contact-box-input">
                            <label for="email">EMAIL</label>
                            <div class="form-group">
                                <input class="form-control" id="email" type="text" placeholder="ishan02016@gmail.com">
                            </div>
                        </div>

                        <div class="col-12 contact-box-input">
                            <label for="phone">PHONE</label>
                            <div class="form-group">
                                <input class="form-control" id="phone" type="text" placeholder="+977 - (000) - 0000312">
                            </div>
                        </div>

                        <div class="col-12 contact-box-input">
                            <label for="companyName">COMPANY NAME</label>
                            <div class="form-group">
                                <input class="form-control" id="companyName" type="text" placeholder="Sanepa Height">
                            </div>
                        </div>

                        <div class="col-12 contact-box-button-seltion">
                            <div class="row">
                                <div class="col-4"></div>
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <button class="btn btn-primary contact-box-button">Next</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 section-8-title title">
                    <p>Visit <a href="webi.am">webi.am</a></p>
                </div>
            </div>
        </div>

    </div>

    <!-- Section-8-ends -->

</div>

<!-- Footer -->

<div class="container-fluid footer">
    <div class="row footer-text">
        <div class="col-12">
            <p>2019 All right reserved</p>
        </div>
    </div>
</div>