<div class=" border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a href="#" routerLink="/admin/portfolio" class="list-group-item list-group-item-action bg-light"><i
      class="fas fa-home mr-1"></i> Portfolio</a>
    <a href="#" routerLink="/admin/media" class="list-group-item list-group-item-action bg-light"><i
      class="fas fa-images mr-1"></i> Media</a>
    <a href="#" routerLink="/admin/setting" class="list-group-item list-group-item-action bg-light"><i
      class="fas fa-cog mr-1"></i> Setting</a>
    <a href="#" routerLink="/admin/page" class="list-group-item list-group-item-action bg-light"><i
      class="fas fa-scroll mr-1"></i> Page</a>
    <a href="#" routerLink="/admin/team" class="list-group-item list-group-item-action bg-light"><i
      class="fas fa-users mr-1"></i>Team</a>
  </div>
</div>



