<div class=" border-right bg-dark  side" id="sidebar-wrapper">
  <div class="list-group list-group-flush bg">
    <a href="#" routerLink="/admin/portfolio" class="list-group-item list-group-item-action bg-dark" translate> <i
      class="fas fa-home mr-1"></i>Portfolio</a>
    <a href="#" routerLink="/admin/media" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-images mr-1"></i>Media</a>
    <a href="#" routerLink="/admin/setting" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-cog mr-1"></i>Settings</a>
    <a href="#" routerLink="/admin/page" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-scroll mr-1"></i>Page</a>
    <a href="#" routerLink="/admin/team" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-users mr-1"></i>Team</a>
    <a href="#" routerLink="/admin/category" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-book-open mr-1"></i>Category</a>
    <a href="#" routerLink="/admin/menu" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-bars mr-1"></i>Menu</a>
    <a href="#" routerLink="/admin/language" class="list-group-item list-group-item-action bg-dark" translate><i
      class="fas fa-language mr-1"></i>Language</a>
    <a href="#" routerLink="/admin/news" class="list-group-item list-group-item-action bg-dark" translate><i
      class="far fa-newspaper mr-1"></i>News</a>
  </div>
</div>




