<div class="container">
  <div class="row">
    <div class="col-5">
      <p>What do we offer</p>
      <div class="line"></div>
      <h2>Lorem ipsum dolor sit<br> amet, consectetur.</h2>
      <ol>
        <li>Web development</li>
        <li>Web application development</li>
        <li>Mobil application development</li>
        <li>UI/UX and Branding</li>
        <li>CMS development</li>
      </ol>
      <button class="btn btn-secondary"><img src="./assets/images/right-filled.png" alt="" width="25px" height="15px"></button>
    </div>
    <div class="col-6 offset-1 imgBlock">
      <img src="./assets/images/Mask Group 7.png" alt="">
    </div>
  </div>
</div>
