<div class="my-container first">
    <div class="footer">
        <div class="col-10 offset-md-1">

            <div class="row content">
                <div class="col-lg-6 col-12 pl-sm-3 contact">

                    <!--    <h6>Contact</h6>-->
                    <!--    <div class="line"></div>-->
                    <h6><b><i>Our offices</i></b></h6>
                    <p>We look forward to sitting down at a location convienent to you. Please contact us to schedule an
                        appointment. </p>
                    <!--          <div class="line"></div>-->
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <p><b><i>Main office</i></b></p>
                            <p class="address">{{address}}</p>
                            <p class="address">{{phone}}</p>
                            <p class="address">{{Email}}</p>
                        </div>
                        <div class="col-6">
                            <p><b><i>Our representitive partners </i></b></p>
                            <p class="address">{{address}}</p>
                            <p class="address">{{phone}}</p>
                            <p class="address">{{Email}}</p>
                        </div>

                    </div>

                </div>

                <div class="col-lg-5  offset-lg-1 col-md-6 pl-3 pr-md-6 formDiv">
                    <div class="forms">
                        <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
                            <div class="form-group">
                                <label>First name</label>
                                <p class="error"
                                   *ngIf="myForm.controls['firstName'].invalid && myForm.controls['firstName'].touched">
                                    *Enter your name</p>
                                <input type="text" placeholder="Enter your first name" class="form-control"
                                       formControlName="firstName">

                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <p class="error"
                                   *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
                                    *Incorrect Email</p>
                                <input type="text" placeholder="Enter your email" class="form-control"
                                       formControlName="email">

                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <p class="error"
                                   *ngIf="myForm.controls['message'].invalid && myForm.controls['message'].touched">
                                    *Enter text</p>
                                <textarea name="Enter your first name" id="" cols="30" rows="10" class="form-control"
                                          formControlName="message"></textarea>
                            </div>
                            <div class="form-group" style="text-align: right">
                                <button [disabled]="myForm.invalid">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="my-container footer_end">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="row copyRight mx-auto">
                <div class="col-lg-12">All rights reserved<i class="far fa-copyright"></i>WEBI 2019</div>
            </div>
        </div>

    </div>
</div>


<!--&lt;!&ndash; Footer &ndash;&gt;-->
<!--<footer class="page-footer font-small indigo">-->

<!--&lt;!&ndash; Footer Links &ndash;&gt;-->
<!--<div class="container text-center text-md-left">-->

<!--&lt;!&ndash; Grid row &ndash;&gt;-->
<!--<div class="row">-->

<!--&lt;!&ndash; Grid column &ndash;&gt;-->
<!--<div class="col-md-3 mx-auto">-->

<!--&lt;!&ndash; Links &ndash;&gt;-->
<!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

<!--<ul class="list-unstyled">-->
<!--<li>-->
<!--<a href="#!">Very long link 1</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Very long link 2</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Very long link 3</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Very long link 4</a>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->
<!--&lt;!&ndash; Grid column &ndash;&gt;-->

<!--<hr class="clearfix w-100 d-md-none">-->

<!--&lt;!&ndash; Grid column &ndash;&gt;-->
<!--<div class="col-md-3 mx-auto">-->

<!--&lt;!&ndash; Links &ndash;&gt;-->
<!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

<!--<ul class="list-unstyled">-->
<!--<li>-->
<!--<a href="#!">Link 1</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 2</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 3</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 4</a>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->
<!--&lt;!&ndash; Grid column &ndash;&gt;-->

<!--<hr class="clearfix w-100 d-md-none">-->

<!--&lt;!&ndash; Grid column &ndash;&gt;-->
<!--<div class="col-md-3 mx-auto">-->

<!--&lt;!&ndash; Links &ndash;&gt;-->
<!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

<!--<ul class="list-unstyled">-->
<!--<li>-->
<!--<a href="#!">Link 1</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 2</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 3</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 4</a>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->
<!--&lt;!&ndash; Grid column &ndash;&gt;-->

<!--<hr class="clearfix w-100 d-md-none">-->

<!--&lt;!&ndash; Grid column &ndash;&gt;-->
<!--<div class="col-md-3 mx-auto">-->

<!--&lt;!&ndash; Links &ndash;&gt;-->
<!--<h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>-->

<!--<ul class="list-unstyled">-->
<!--<li>-->
<!--<a href="#!">Link 1</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 2</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 3</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#!">Link 4</a>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->
<!--&lt;!&ndash; Grid column &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; Grid row &ndash;&gt;-->

<!--</div>-->
<!--&lt;!&ndash; Footer Links &ndash;&gt;-->

<!--&lt;!&ndash; Copyright &ndash;&gt;-->
<!--<div class="footer-copyright text-center py-3">© 2018 Copyright:-->
<!--<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
<!--</div>-->
<!--&lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
<!--&lt;!&ndash; Footer &ndash;&gt;-->
