/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

/*body {*/
/*background-color: #3966ae;*/

/*}*/



 html {
    overflow-x: hidden;
}

div[class^="col-"] {
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-toggler{
    margin-top: -25px;
}
.my-container {
    padding-left: 72px;
    padding-right: 72px;
}


#slider .owl-next, #slider .owl-prev {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#slider .owl-next {
    right: -80px;
    top: 45px;
    background: #5582CA;
}

#slider .owl-prev {
    right: -80px;
    top: 85px;
    background: white;
}

.owl-theme .owl-nav {
    margin-top: 0 !important;
}

@media(max-width: 1200px) {
    .my-container {
        padding-left: 20px;
        padding-right: 20px;

    }
    #slider .owl-next, #slider .owl-prev {
        margin: 15px;
    }
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }
    to {
        transform: scale(1)
    }
}




/*//==================================================================================*/
/*//===============================  scroll styles  ==================================*/
/*//==================================================================================*/
/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #3966ae;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #73a0ff;
}

/*//::-webkit-scrollbar-corner {*/
/*//    background: red;*/
/*/}*/

/*!* Handle on hover *!*/
/*//::-webkit-scrollbar-thumb:hover {*/
/*//    background: #555;*/
/*//}*/


html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



