<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" >WEBI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="nav">
      <li class="nav-item active">
        <h3>{{email}}</h3>
      </li>
      <li class="nav-item dropdown">

        <!--<ng-select [items]="languages"-->
                   <!--bindLabel="name"-->
                   <!--bindValue="name"-->
                   <!--placeholder="Select city"-->
                   <!--[(ngModel)]="selectedCityName">-->

          <!--<ng-template ng-label-tmp let-item="item">-->
            <!--<img height="15" width="15" [src]="item.image"/>-->
            <!--<b>{{item.name}}</b>-->
          <!--</ng-template>-->
          <!--&lt;!&ndash;<ng-template ng-option-tmp let-item="item" let-index="index">&ndash;&gt;-->
            <!--&lt;!&ndash;<img height="15" width="15" [src]="item.image"/>&ndash;&gt;-->
            <!--&lt;!&ndash;<b>{{item.name}}</b>&ndash;&gt;-->
          <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
        <!--</ng-select>-->


        <!--<select name="" id="">-->
          <!--<option value="" *ngFor="let language of languages" >{{language.name}}</option>-->
        <!--</select>-->

        <a class="btn dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <img src='{{lan.image}}' class="img-fluid max" alt="">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ul class="list-group" *ngFor="let language of final">
            <li class="dropdown-item" (click)="switchLanguage(language)">
              <img src='{{language.image}}' class="img-fluid max" alt="">
            </li>
          </ul>
        </div>

      </li>
      <li class="nav-item">
        <button class="btn btn-primary" (click)="myLogout()" translate>Logout</button>
      </li>
    </ul>

  </div>
</nav>
