<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-5">
      <div class="title">
        <h1>We build you <br>the software</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur facere mollitia non placeat quaerat ullam voluptates. Aliquid hic in, ipsa itaque officiis quae quis sed, sequi tempora temporibus ut voluptatum.</p>
        <button class="btn btn-secondary"><img src="./assets/images/right-filled.png" alt="" width="25px" height="15px"></button>
      </div>
    </div>
    <div class="col-12 col-lg-7 circle">
      <img src="./assets/images/Group 1616.png" alt="">
    </div>
  </div>

</div>
