<div class="row">
  <div class="col-md-10 offset-1">
    <h2 class="text-center">Create Page</h2>
    <form [formGroup]="pageForm">

      <div class="form-group">
        <label for="image">Image: <span class="invalid">(required) </span> </label>
        <br>
        <input type="file" id="image" (change)="onFileChange($event)" #fileInput>
        <p *ngIf="pageForm.get('img').invalid && pageForm.get('img').touched" class="invalid">Type true
          Img</p>
      </div>

      <button class="btn btn-primary" (click)="changeLanguage('en')">en</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('ru')">ru</button>
      <button class="btn btn-primary ml-1" (click)="changeLanguage('am')">am</button>
      <br>

      <div class="form-group">
        <label>Title: </label>
        <input type="text" placeholder="en" class="form-control" formControlName="enTitle" *ngIf="language=='en'">
        <input type="text" placeholder="ru" class="form-control" formControlName="ruTitle" *ngIf="language=='ru'">
        <input type="text" placeholder="am" class="form-control" formControlName="amTitle" *ngIf="language=='am'">
        <p *ngIf="pageForm.get('enTitle').invalid && pageForm.get('enTitle').touched" class="invalid">Type en
          Title</p>

      </div>


      <div class="form-group">
        <label>Description: </label>

        <ckeditor *ngIf="language=='en'" tagName="input" formControlName="enDescription" [editor]="Editor"></ckeditor>
        <ckeditor *ngIf="language=='ru'" tagName="input" formControlName="ruDescription" [editor]="Editor"></ckeditor>
        <ckeditor *ngIf="language=='am'" tagName="input" formControlName="amDescription" [editor]="Editor"></ckeditor>

        <p *ngIf="pageForm.get('enDescription').invalid && pageForm.get('enDescription').touched"
           class="invalid">Type en Description</p>

      </div>

      <div class="form-group">
        <label>Content: </label>

        <ckeditor *ngIf="language=='en'" tagName="input" formControlName="enContent" [editor]="Editor"></ckeditor>
        <ckeditor *ngIf="language=='ru'" tagName="input" formControlName="ruContent" [editor]="Editor"></ckeditor>
        <ckeditor *ngIf="language=='am'" tagName="input" formControlName="amContent" [editor]="Editor"></ckeditor>

        <p *ngIf="pageForm.get('enContent').invalid && pageForm.get('enContent').touched"
           class="invalid">Type en Description</p>
      </div>


      <button type="button" class="btn btn-info" (click)="myPage()" [disabled]="!pageForm.valid">Create <i
        class="fa fa-check"></i></button>
    </form>
  </div>
</div>

