<div class="container-fluid section-2-header">
    <div class="row">
        <div class="col-12 section-2-heading heading">
            <h2>{{cardsHeading}}</h2>
        </div>
    </div>
</div>

<div class="container cards-body-wrapper">
    <div class="row">

        <div class="col-md-4 col-12">
            <div class="col-12 card">
                <div class="card-heading">
                    <h3>Shopify custom landing page design</h3>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <p>Get unique and branded views of your eCommerce. What we do:</p>
                    </div>
                    <div class="card-text">
                        <ul>
                            <li>Mobile-first UX / UI design</li>
                            <li>Theme design</li>
                            <li>Brand collateral design</li>
                            <li>Photography & illustrations</li>
                        </ul>
                    </div>

                    <div *ngIf="cardsHeading === 'Shopify development plans' " class="card-button">
                        <button class="btn btn-primary">Starts from</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="col-12 card">
                <div class="card-heading">
                    <h3>Theme customization with advanced functionality</h3>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <p>Awesome experience with
                            high conversion depends
                            on custom functionality</p>
                    </div>
                    <div class="card-text">
                        <ul>
                            <li>Theme development & customization</li>
                            <li>API integration</li>
                            <li>product customization</li>
                            <li>subscriptions</li>
                            <li>Integrating with existing CRM systems</li>
                        </ul>
                    </div>

                    <div *ngIf="cardsHeading === 'Shopify development plans' " class="card-button">
                        <button class="btn btn-primary">Starts from</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-12">
            <div class="col-12 card">
                <div class="card-heading">
                    <h3>Store set-up for brand new business</h3>
                </div>
                <div class="card-body">
                    <div class="card-title">
                        <p>We are with you from A to Z.</p>
                    </div>
                    <div class="card-text">
                        <ul>
                            <li>Web design</li>
                            <li>Polish content</li>
                            <li>Brand collateral design</li>
                            <li>Launch the eStore</li>
                        </ul>
                    </div>

                    <div *ngIf="cardsHeading === 'Shopify development plans' " class="card-button">
                        <button class="btn btn-primary">Starts from</button>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>
