<app-top-menu></app-top-menu>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-10 offset-lg-1">
  <p>Our Works</p>
    <div class="row">
      <div class="col-12 menu">



      <ul>
        <li class="menu-item active">
          <a class="menu-link" href="#">Our Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Our Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Our Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Our Works</a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="#">Our Works</a>
        </li>
      </ul>


    </div>
  </div>

      <div class="project-wrapper">

          <div class="row top-line">
              <div class="col-12 col-sm-4 col-md-3 offset-md-1 one"><img src="./assets/images/portfolio1.PNG" alt=""></div>
              <div class="col-12 col-sm-4 col-md-3  two"><img src="./assets/images/portfolio2.PNG" alt=""></div>
              <div class="col-12 col-sm-4 col-md-4 three"><img src="./assets/images/portfolio3.PNG" alt=""></div>
          </div>

          <div class="row bottom-line">
              <div class="col-6 offset-1 five d-none d-sm-none d-md-block d-xl-block"><img src="./assets/images/portfollio4.PNG" alt=""></div>
              <div class="col-4 six d-sm-none d-none d-md-block d-xl-block"><img src="./assets/images/portfolio5.PNG" alt=""></div>
          </div>
          <div class="row top-line">
              <div class="col-12 col-sm-4 col-md-3 offset-md-1 one"><img src="./assets/images/portfolio1.PNG" alt=""></div>
              <div class="col-12 col-sm-4 col-md-3  two"><img src="./assets/images/portfolio2.PNG" alt=""></div>
              <div class="col-12 col-sm-4 col-md-4 three"><img src="./assets/images/portfolio3.PNG" alt=""></div>
          </div>

          <div class="row bottom-line">
              <div class="col-6 offset-1 five d-none d-sm-none d-md-block d-xl-block"><img src="./assets/images/portfollio4.PNG" alt=""></div>
              <div class="col-4 six d-sm-none d-none d-md-block d-xl-block"><img src="./assets/images/portfolio5.PNG" alt=""></div>
          </div>

      </div>



<!--  <div class="section1">-->
<!--    <div class="box one"><img src="./assets/images/portfolio1.PNG" alt=""></div>-->
<!--    <div class="box two"><img src="./assets/images/portfolio2.PNG" alt=""></div>-->
<!--    <div class="box three"><img src="./assets/images/portfolio3.PNG" alt=""></div>-->
<!--  </div>-->
<!--  <div class="section2">-->
<!--    <div class="box five"><img src="./assets/images/portfollio4.PNG" alt=""></div>-->
<!--    <div class="box six"><img src="./assets/images/portfolio5.PNG" alt=""></div>-->

<!--  </div>-->
<!--  <div class="section3">-->
<!--    <div class="box eight"><img src="./assets/images/portfolio1.PNG" alt=""></div>-->
<!--    <div class="box nine"><img src="./assets/images/portfolio2.PNG" alt=""></div>-->
<!--    <div class="box ten"><img src="./assets/images/portfolio3.PNG" alt=""></div>-->
<!--  </div>-->
<!--  <div class="section4">-->
<!--    <div class="box eleven"><img src="./assets/images/portfollio4.PNG" alt=""></div>-->
<!--    <div class="box twelve"><img src="./assets/images/portfolio5.PNG" alt=""></div>-->
<!--  </div>-->
<!--</div>-->
</div>
</div>
<app-footer></app-footer>
