
<div class="row">
  <div class="col-md-10 offset-1" *ngIf="done">
    <h2 class="text-center">{{menu.title.en}}</h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>Type</th>
        <th>TypeId</th>
        <th>Order</th>
        <th *ngIf="menu.parent">ParentId</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{optionVal}}</td>
        <td>{{menu.typeId}}</td>
        <td>{{menu.order}}</td>
        <td *ngIf="menu.parent">{{menu.parent}}</td>
      </tr>
      </tbody>
    </table>
    <h2>Title </h2>
    <table class="table table-dark table-hover table-striped">
      <thead class="thead-light">
      <tr>
        <th>am</th>
        <th>ru</th>
        <th>en</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{menu.title.am}}</td>
        <td>{{menu.title.ru}}</td>
        <td>{{menu.title.en}}</td>
      </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="ok()"><i
      class="fa fa-check" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-info" (click)="updateMedia(menu)" style="margin-left: 20px;">Edit <i
      class="far fa-edit"></i></button>
    <button (click)="deleteMedia(menu,i)" style="margin-left: 20px;" class="btn btn-danger"><i
      class="fa fa-times"></i>
    </button>
  </div>
</div>

