<div class="container-fluid">
    <div class="row">
        <div class="col-12 section-7-heading heading">
            <h2>Testimonials</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row section-7-people">

        <div class="col-md-4 col-12 people-hover">
            <div class="col-12 people-body">
                <div class="people-image">
                    <img src="{{url2}}" alt="">
                </div>

                <div class="people-text">
                    <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                        Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                </div>

                <div class="people-name">
                    <p>Susan Herrera</p>
                </div>

            </div>
        </div>

        <div class="col-md-4 col-12 people-hover">
            <div class="col-12 people-body">
                <div class="people-image">
                    <img src="{{url2}}" alt="">
                </div>

                <div class="people-text">
                    <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                        Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                </div>

                <div class="people-name">
                    <p>Susan Herrera</p>
                </div>

            </div>
        </div>
        <div class="col-md-4 col-12 people-hover">
            <div class="col-12 people-body">
                <div class="people-image">
                    <img src="{{url2}}" alt="">
                </div>

                <div class="people-text">
                    <p>Donec facilisis tortor ut augue lacinia, at viverra est semper.
                        Sed sapien metus, scelerisque nec pharetra id, tempor a tortor.</p>
                </div>

                <div class="people-name">
                    <p>Susan Herrera</p>
                </div>

            </div>
        </div>

    </div>
</div>
